<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html">
</head>

<body bgcolor="#ffffff">
    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="580">
        <tbody>
            <!-- <tr>
                <td colspan="3">
                    <img src="https://i.ibb.co/8mQDndC/cabecalho.png" alt="cabecalho" border="0">
                </td>
            </tr> -->
            <tr>
                <td colspan="3">
                    <hr>
                    <img src="https://i.ibb.co/fCvT4Hk/logo2.png"
                        style="width: 140px; height: 85.6px; float: left; margin-left: 60px;">
                    <h2
                        style="color: rgb(43,50,82); font-family: Arial, Helvetica, sans-serif; text-align: center; margin-top: 42px;">
                        Painel Administrativo
                    </h2>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr>
                    <h2 style="color: rgb(239,84,85); font-family: Arial, Helvetica, sans-serif; text-align: center;">
                        Conta verificada
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="color: #444545; font-family: Arial, Helvetica, sans-serif; font-size: 16px">
                    <p style="line-height: 22px">
                        Olá <b>{{name}},</b>
                    </p>
                    <p style="line-height: 22px">
                        Sua senha foi definida com sucesso e sua conta
                    </p>
                    <p style="line-height: 22px">
                        Você já pode fazer o login.
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>